<!-- 有修改預設字體 -->
<footer>
  <div
    class="footer bg-primary-00 d-flex justify-content-center py-3 gap-4 border-top border-primary-900 border-2 fixed-bottom z-2"
  >
    <button class="d-flex border-0 bg-transparent p-1" id="toDownButton">
      <span class="material-symbols-outlined fs-2"> arrow_drop_down </span>
    </button>
    <button class="d-flex border-0 bg-transparent p-1" id="toTopButton">
      <span class="material-symbols-outlined fs-2"> arrow_drop_up </span>
    </button>
  </div>
</footer>

<script>
  const toDownButton = document.getElementById("toDownButton");
  const toTopButton = document.getElementById("toTopButton");

  const scrollDistance = 200; // 每次滾動距離 px

  toDownButton.addEventListener("click", () => {
    window.scrollBy({ top: scrollDistance, behavior: "smooth" });
  });

  toTopButton.addEventListener("click", () => {
    window.scrollBy({ top: -scrollDistance, behavior: "smooth" });
  });
</script>
