<!-- 有修改預設字體 -->
<footer>
  <div
    class="bg-primary-00 d-flex justify-content-around align-items-center py-3 border-top border-primary-900 border-2"
  >
    <button
      class="d-flex justify-content-around align-items-center border-0 bg-transparent p-0"
    >
      <span class="material-symbols-outlined fs-2"> arrow_drop_down </span>
    </button>
    <button
      class="d-flex justify-content-around align-items-center border-0 bg-transparent p-0"
    >
      <span class="material-symbols-outlined fs-2"> arrow_drop_up </span>
    </button>
  </div>
</footer>

<script></script>
