<!-- 有修改預設字體 -->
<header>
  <div
    class="header bg-primary-00 d-flex justify-content-between align-items-center py-3 border-bottom border-primary-900 border-2 fixed-top z-2"
  >
    <div class="menu-time">
      <span class="fs-6 fst-italic fw-semibold m-0" id="time"> </span>
    </div>
    <nav class="menu-bar">
      <button
        class="menu-button p-0 border-0 bg-transparent d-flex flex-column"
      >
        <span
          class="material-symbols-outlined fst-italic fs-1 text-primary-900"
        >
          subject
        </span>
      </button>
    </nav>
  </div>
</header>

<script>
  // F5可取得時間
  function getCurrentTime() {
    const now = new Date(); //建立日期物件
    const y = now.getFullYear();
    const m = String(now.getMonth() + 1).padStart(2, "0"); //不足兩位數就補 0
    const d = String(now.getDate()).padStart(2, "0");
    const h = String(now.getHours()).padStart(2, "0");
    const min = String(now.getMinutes()).padStart(2, "0");
    const s = String(now.getSeconds()).padStart(2, "0");
    document.getElementById(
      "time"
    ).textContent = `Current Time: ${y}.${m}.${d} ${h}:${min}:${s}`;
  }
  getCurrentTime();
</script>
