<!-- 左側列 -->
<aside
  class="left-aside flex-shrink-0 bg-primary-00 border-end border-2 border-primary-900"
>
  <div
    class="rotate-left-text d-flex flex-column justify-content-center align-items-center h-100"
  >
    <p class="fst-italic fw-semibold">Visit Duration:</p>
  </div>
</aside>
