<!-- 左側列 -->
<aside
  class="aside bg-primary-00 position-fixed top-0 start-0 z-1 border-end border-primary-900 border-2"
  style="width: 65px"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center vh-100"
  >
    <p class="left-text fs-7 fst-italic fw-semibold m-0">Visit Duration:</p>
  </div>
</aside>
