<!-- 右側列 -->
<aside
  class="aside bg-primary-00 position-fixed top-0 end-0 z-1 border-start border-primary-900 border-2"
  style="width: 65px"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center vh-100"
  >
    <p class="right-text text-center fs-7 fst-italic fw-semibold m-0">
      © 2025 S.J. Lu — All works are original. All rights reserved.
    </p>
  </div>
</aside>
