<aside
  class="right-aside flex-shrink-0 bg-primary-00 border-start border-2 border-primary-900"
>
  <div
    class="rotate-right-text d-flex flex-column justify-content-center align-items-center h-100"
  >
    <p class="fst-italic fw-semibold">
      © S.J.LU 2025 - All works original. All rights reserved
    </p>
  </div>
</aside>
